<div class="sidenav flex-col">
  <div class="flex items-center justify-center h-[100px]">
    <img src="assets/images/logo.png" />
  </div>
  <div class="h-[106px]">
    <div class="flex justify-between items-center w-[177px] ml-5">
      <img src="assets/images/stewie.png" width="28" height="28" class="rounded-full bg-slate-300">
      <div>
        Nome Sobrenome
      </div>
    </div>
  </div>
  <div class="menus">
    <div><i class="pi pi-home"></i> HOME</div>
    <div><i class="pi pi-users"></i> PACIENTES</div>
    <div><i class="pi pi-calendar-plus"></i> SOLICITAÇÕES</div>
    <div><i class="pi pi-briefcase"></i> ATENDIMENTOS</div>
    <div><i class="pi pi-chart-line"></i> DASHBOARDS</div>
  </div>
</div>
